<p><strong>Player one:</strong> <%= session[:player_one_type].capitalize %> (<%= RubyTictactoe::TictactoeConstants::MARKER_X %>)</p>
<p><strong>Player two:</strong> <%= session[:player_two_type].capitalize %> (<%= RubyTictactoe::TictactoeConstants::MARKER_O %>)</p>
<p class="message"><%= @message %></p>
<form action ="/" method = "GET">
  <input type="submit" value="Restart Game" class="btn">
</form>
<div id="board">
  <form action ="/move" method = "POST">
    <% if @board.game_over? %>
      <%= @board.print_inactive_board %>
    <% else %>
      <%= @board.print_active_board %>
    <% end %>
  </form>
</div>