<p><strong>Player one:</strong> <%= session[:player_one].player_type %> (<%= session[:player_one].marker %>)</p>
<p><strong>Player two:</strong> <%= session[:player_two].player_type %> (<%= session[:player_two].marker %>)</p>
<p class="message"><%= @message %></p>
<form action ="/" method = "GET">
  <input type="submit" value="Restart Game" class="btn">
</form>
<div id="board">
  <form action ="/move" method = "POST">
    <% if @board.game_over? %>
      <%= session[:game].ui.print_inactive_board %>
    <% else %>
      <%= session[:game].ui.print_active_board %>
    <% end %>
  </form>
</div>